body{margin: 0;
  font-family: 'fira Sans',Arial, sans-serif;
  color: #141414;
}
h1,h1,h3,p{margin: 0px;}
ul{margin: 0px;
padding: 0px;
list-style: none;}

img{
  max-width: 100%;
  display: block;
}